/* General CSS */

body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Footer */
#footer-p {
  padding: 30px 0;
}

.col-lg-6 {
  background: #38b86f;
}

h1 {
  /* Sartų ežeras */
  left: 14.11% !important;
  right: 67.76% !important;
  top: 14.07% !important;
  bottom: 79.91% !important;

  font-family: Arial Bold !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 56px !important;
  line-height: 65px !important;
  /* identical to box height */

  color: #ffffff !important;
}

.wiki {
  position: relative;
  font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  /* identical to box height */

  background-color: white;
  color: #38b86f;
  width: 110px;
  height: 35px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding-top: 3px;
}

.text-box {
  background-color: #38b86f;
  color: white;
  border-width: 7px;
  border-style: solid;
  border-color: white;
  border-radius: 0px 15px 15px 15px;
  width: 570px;
  height: 250px;
  padding: 10px;

}

.wiki p {
  font-size: 25px;
}

.text-box p{
    font-size: 20px;
}

.Skirtukas {
  position: absolute;
  background: #ff7e7e;
  width: 100px;
  height: 160px;
  border-radius: 0px 0px 15px 15px;
  justify-content: center;
  left: 47%;
  padding-left: auto;
  padding-right: auto;
}

.Skirtukas1{
    top: 63.5%;
    position: absolute;
    background: white;
    width: 100px;
    height: 22.8%;
    border-radius: 15px 15px 0px 0px;
    justify-content: center;
    left: 47%;
    padding-left: auto;
    padding-right: auto;
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.3);

    /* Rectangle 79 */
}

.btn-like{
    border-radius: 8px;
    margin-left: 20%;
    margin-top: 25%;
    width: 60%;
    height: 40px;
    background-color: #ff7e7e;
    border: none;
}

.btn-share{
    border-radius: 8px;
    margin-left: 20%;
    margin-top: 20%;
    width: 60%;
    height: 40px;
    /* Rectangle 70 */
    background: #7EAEFF;
    border: none;
}

.btn-point{
    border-radius: 8px;
    margin-left: 20%;
    margin-top: 20%;
    width: 60%;
    height: 40px;
    background: #65D6B2;
    border: none;
}

.sirdis {
  position: absolute;
  top: 35%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.Skirtukas h3 {
  /* 586 */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  color: #ffffff;
}

#me {
  display: block;
  text-align: center;
  text-align: center;
  padding: 5px;
  font-size: 1.2em;
}

.swiper-container {
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.swiper-slide {
  overflow: hidden;
  width: 100%;
}
.carousel-inner img {
    margin: 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6% !important;
  max-width: 150vh !important;
  width: 750px !important;
  height: 50vh !important;
  border-color: #fff;
  box-shadow: 0px 0 15px 0 rgba(3, 46, 102, 0.5);
}

.carousel-control.left {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 100%
  ) !important;
  border-radius: 25%;
}

.carousel-control.right {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 100%
  ) !important;
  border-radius: 25%;
}

.icon{
    width: 60%!important;
}
.icon1{
    width: 50%!important;
}

.nuotrauku_dez img{
    margin: 13px;
    display: block;
    border-radius: 6% !important;
    max-width: 150vh !important;
    width: 170px !important;
    height: 110px !important;
    border-color: #fff;
    box-shadow: 0px 0 15px 0 rgba(3, 46, 102, 0.5);
}

@media (max-width: 576px) {
  .swiper-container {
    height: 100%;
  }
}
